.dash-container {
	display: inline-block;
	width: 100%;
	margin-top: 2rem;
	border: 10px solid rgb(111, 0, 255);
	border-radius: 0.2rem;
	background: rgb(221, 169, 255);
	padding-top: 2rem;
	padding-bottom: 2rem;
}